/* General */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #121212;
    color: #E0E0E0;
    font-family: sans-serif;
    margin: 0;
}

h1, h2, h3 {
    text-align: center;
    color: #64FFDA;
}

h1 {
    font-size: 30px;
    padding: 20px;
    width: 20%;
    background-color: #1A1A1A;
    border-radius: 10px;
    margin: 30px auto;
}

h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    padding: 5px 10px;
    background-color: #1A1A1A;
    border-radius: 8px;
    border-bottom: 1px solid #1E88E5;
    display: inline-block;
    margin-bottom: 10px;
}

p {
    color: #B0BEC5;
    text-align: justify;
    margin: 0 0 15px;
}

/* Header */
header {
    color: #B0BEC5;
    text-align: justify;
    padding-top: 20px;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    background-color: #1E1E1E;
    padding: 10px;
    border-radius: 15px;
    margin: 0;
}

header nav ul li {
    margin: 10px;
}

header nav ul a {
    display: block;
    padding: 8px;
    color: #E0E0E0;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 10px;
}

header nav ul a:hover {
    background-color: #1E88E5;
}

/* Main */
main {
    flex: 1;
    padding: 20px;
    justify-content: center;
    width: 60%;
    margin: 30px auto;
    border-radius: 15px;
    background-color: #1A1A1A;
    border: 2px solid #1E88E5;
}

main p {
    margin-bottom: 20px;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #1E88E5;
    border-radius: 15px;
    background-color: #1E1E1E;
    padding: 16px;
    margin-top: 30px;
}
footer p {
    color: #E0E0E0;
    margin: 0;
}

footer nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

footer nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

footer nav ul a {
    display: block;
    padding: 5px;
    color: #64FFDA;
    text-decoration: none;
    transition: 0.3s;
    margin-bottom: 10px;
    border-radius: 10px;
}

footer nav ul a:hover {
    background-color: #1E88E5;
}

/* Articles */
article {
    background-color: #1A1A1A;
    border-radius: 10px;
    padding: 20px;
    margin: 30px auto;
    width: 60%;
    border: 2px solid #1E88E5;
}

article p {
    padding-left: 10px;
}

article a {
    color: #4DD0E1;
    text-decoration: underline;
    transition: color 0.3s;
}

article a:hover {
    color: #81D4FA;
}

/* Sections */
#hobbies{
    background-color: #1A1A1A;
    border: 2px solid #1E88E5;
    border-radius: 15px;
    margin: 40px auto;
    padding: 30px;
    width: 60%;
}

#estudios {
    background-color: #1A1A1A;
    border: 2px solid #1E88E5;
    border-radius: 15px;
    margin: 40px auto;
    padding: 30px;
    width: 60%;
}

#hobbies h2{
    font-size: 26px;
}

#estudios h2 {
    font-size: 26px;
}

/* Images */
.selfie{
    display: block;
    margin: 20px auto;
    width: 30%;
    border-radius: 10px;
}
.programacion{
    display: block;
    margin: 20px auto;
    width: 30%;
    border-radius: 10px;
    transition: transform 0.5s;
}
.amics{
    display: block;
    margin: 20px auto;
    width: 30%;
    border-radius: 10px;
    transition: transform 0.5s;
}
.anime{
    display: block;
    margin: 20px auto;
    width: 30%;
    border-radius: 10px;
    transition: transform 0.5s;
}

.programacion:hover{
    transform: scale(1.1);
}

.amics:hover{
    transform: scale(1.1);
}
.anime:hover{
    transform: scale(1.1);
}

/* Microjuego */
#microjuego {
    padding: 20px;
    justify-content: center;
    margin: 30px auto;
    border-radius: 15px;
    background-color: #1A1A1A;
    border: 2px solid #1E88E5;
    text-align: center;
}

#microjuego p {
    margin-bottom: 20px;
}

/* Inputs */
#campo-id {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #1E88E5;
    border-radius: 10px;
    background-color: #121212;
    color: #E0E0E0;
    width: 10%;
    margin-bottom: 20px;
}

/* Buttons */
#field_submit {
    margin-top : 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #1E88E5;
    border-radius: 10px;
    background-color: #1E88E5;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.5s;
}

#field_submit:hover {
    background-color: #00fd04;
    transform: scale(1.03);
}

/* States */
.error {
    font-style: italic;
    color: #FF5252;
}

.correcto {
    font-style: italic;
    color: #4CAF50;
}

.error-border {
    border: 2px solid #FF5252;
}

.correcto-border {
    border: 2px solid #4CAF50;
}

.error-form {
    background-color: rgba(255, 82, 82, 0.2);
}

.correcto-form {
    background-color: rgba(76, 175, 80, 0.2);
}
